html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: $font-family-base;
	height: auto;
	margin: auto;
	width: 100%;
	//max-width: 1366px;
}

ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
ol {
	counter-reset: counter;
	padding-top: 26px;
	li {
		position: relative;
		padding: 0 0 26px 32px;
		&:before {
			content: counter(counter) '';
			counter-increment: counter;
			color: $primary;
			font-family: 'Montserrat-Bold';
			font-size: 1.25rem;
			text-transform: uppercase;
			display: inline-block;
			width: 37px;
			height: 37px;
			padding-top: 4px;
			text-align: center;
			position: absolute;
			left: -12px;
			line-height: 1;
			top: -7px;
			vertical-align: top;
			border: 5px solid $primary;
			border-radius: 50%;
		}

	}
}
.list{
	display: flex;
	flex-direction: column;
	li{
		position: relative;
		padding-left: 40px;
		margin-bottom: .8rem;
		&:before {
			position: absolute;
			font-family: FontAwesome;
			content: "\f00c";
			font-size: 0.875rem;
			top: 0;
			left: 0;
			text-align: center;
			color: $teal;
			width: 25px;
			height: 25px;
			border: 3px solid $teal;
			border-radius: 50%;
		}
	}
}
b,
strong{
	font-family: 'Montserrat-Bold';
	font-weight: 700;
}
h1,
h2,
h3,
h4,
h5{
	font-family: 'Montserrat-Bold';
	font-weight: bold;
}
.h2-title {
	font-size: 2.125rem;
	opacity: .8;
	text-align: center;
}
.h3-title {
	font-size: 1.625rem;
	opacity: .8;
	text-align: center;
}
.topSection {
	min-height: 50vh;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	//margin-top: -53px;
	//padding-top: 53px;
	//margin-bottom: -69px;
	//padding-bottom: 69px;
}
section{
	.section_header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem 0 2rem;
		align-items: center;
		margin-bottom: 2rem;
	}
}
.titleBlackLine{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2rem;
	h5{
		margin-right: 1rem;
		margin-bottom: 0;
	}
	.blackline{
		display: flex;
		width: 100%;
		height: 3px;
		background: $black;
		position: relative;
		&:before{
			content: "";
			display: flex;
			position: absolute;
			width: 50px;
			height: 5px;
			left: 10px;
			top: 0;
			border-left: 10px solid $white;
			border-right: 10px solid $white;
		}
	}
	@include media-breakpoint-down(sm){
		justify-content: center;
		.blackline{
			display: none;
		}
		h5.w-20{
			width: 100% !important;
		}
	}
}
.container-fluid{
	@include media-breakpoint-down(sm){
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
}