.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: $font-family-base;
}

ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
b,
strong{
	font-family: 'Montserrat-Bold';
	font-weight: 700;
}
.h2-title {
	font-size: 2.125rem;
	opacity: .8;
	text-align: center;
}
.h3-title {
	font-size: 1.625rem;
	opacity: .8;
	text-align: center;
}

section{
	.section_header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem 0 2rem;
		align-items: center;
		margin-bottom: 2rem;
	}
}