.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: $font-family-base;
}


ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
b,
strong{
	font-family: 'Montserrat-Bold';
	font-weight: 700;
}