@mixin animation-scale {
	transform: scale(1.1);
	transition: transform .3s ease-in-out;
}
@mixin animation-base {
	transition: all.3s ease-in-out;
}
@mixin img-shadow {
	box-shadow: -9px -3px 22px 2px rgba(0, 0, 0, 0.15);
}
@mixin ava-shadow {
	box-shadow: 0px 0px 30px 3px rgba(0,0,0,.3);
}
@mixin box-shadow {
	box-shadow: 0px 0px 30px 3px rgba(0,0,0,.3);
}
@mixin primary-shadow {
	box-shadow: -17px 17px 0px 0px $primary;
}
@mixin border-primary{
	border: 1px solid $primary;
}
