// Font Montserrat from folder  ../fonts/Montserrat
//@import '../../../../build/assets../fonts/Montserrat/Montserrat';
//
// Font OpenSans from folder  ../fonts/OpenSans
//@import '../../../../build/assets../fonts/OpenSans/OpenSans';

// Font FontAwesome from folder  ../fonts/FontAwesome
//@import 'FontAwesome/FontAwesome';

// Font LibreBaskerville from folder  ../fonts/LibreBaskerville
//@import '../../../../build/assets../fonts/LibreBaskerville/LibreBaskerville';


@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome/fontawesome-webfont.eot');
	src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FontAwesome/fontawesome-webfont.woff2') format('woff2'),
	url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
	url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'),
	url('../fonts/FontAwesome/fontawesome-webfont.svg#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat-Black';
	src: url('../fonts/Montserrat/Montserrat-Black.ttf')  format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-BlackItalic';
	src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf')  format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf')  format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-ExtraBoldItalic';
	src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf')  format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat/Montserrat-Bold.ttf')  format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-BoldItalic';
	src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf')  format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf')  format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-SemiBoldItalic';
	src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf')  format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/Montserrat/Montserrat-Medium.ttf')  format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-MediumItalic';
	src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf')  format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face{
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Montserrat-Italic';
	src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat/Montserrat-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-LightItalic';
	src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat-ExtraLight';
	src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf')  format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-ExtraLightItalic';
	src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf')  format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat-Thin';
	src: url('../fonts/Montserrat/Montserrat-Thin.ttf')  format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-ThinItalic';
	src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf')  format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans/OpenSans-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-LightItalic';
	src: url('../fonts/OpenSans/OpenSans-LightItalic.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf')  format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Italic';
	src: url('../fonts/OpenSans/OpenSans-RegularItalic.ttf')  format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf')  format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-SemiBoldItalic';
	src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf')  format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans/OpenSans-Bold.ttf')  format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-BoldItalic';
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.ttf')  format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSans-ExtraBold';
	src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf')  format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-ExtraBoldItalic';
	src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf')  format('truetype');
	font-weight: 800;
	font-style: italic;
}
@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
	background: #fff url('../i/loading.png') center center no-repeat;
	-webkit-animation: rotation 2s infinite;
}

/* Icons */
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/slick/slick.eot');
	src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/slick/slick.woff') format('woff'),
	     url('../fonts/slick/slick.ttf') format('truetype'),
	     url('../fonts/slick/slick.svg#slick') format('svg');
}