.breadcrumb {
	background-color: transparent;
	&-item {
		color: $gray-600;
		a {
			color: $gray-600;
		}
		&.active{
			color: $primary;
		}
	}
	@include media-breakpoint-down(sm){
		background: #f9f9f9;
		.breadcrumb-item a{
			text-transform: uppercase;
		}
	}
}