button,
.btn {
	position: relative;
	transform: scale(1);
	text-transform: uppercase;
	font-family: 'Montserrat-SemiBold';
	&:hover,
	&:active,
	&:focus{
		cursor: pointer;
		outline: none;
		box-shadow: none;
		//transform: scale(1.1);
	}
}
.btn-circle	{
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	font-size: 1rem;
	padding: 0;
}
.btn-arr-right {
	align-items: center;
	position: relative;
	font-size: 1.315rem;
	&:after {
		display: block;
		position: absolute;
		content: "";
		width: 20px;
		height: 17px;
		right: 40px;
		top: 20px;
		background: url(../i/icons/arrow-right.png) no-repeat 0 0;
	}
	&:hover:after {
		@include animation-base;
		right: 20px;
	}
}
.btn-arr-down {
	font-size: 1.315rem;
	display: flex;
	align-self: center;
	justify-self: flex-end;
	margin-left: auto;
	content: "";
	width: 20px;
	height: 17px;
	right: 40px;
	top: 15px;
	background: url(../i/icons/arrow-down.png) no-repeat 0 0;
	&:hover:after {
		@include animation-base;
	}
}
.show-category {
	display: flex;
	font-size: 1rem;
	border-radius: 5px 5px 0 0;
	text-align: left;
	min-width: 190px;
}