button,
.btn{
	transform: scale(1);
	&:hover,
	&:active,
	&:focus{
		cursor: pointer;
		outline: none;
		box-shadow: none;
		transform: scale(1.2);
	}
}
.btn-circle	{
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}