.category{
	display: flex;
	width: 100%;
	&__list{
		display: flex;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	&__link{
		position: relative;
		display: flex;
		width: 170px;
		height: 30px;
		border: 2px solid $danger;
		border-radius: 2rem;
		text-align: center;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		margin-bottom: 5px;
		padding: 0 30px;
		line-height: 0.9;
		background: $white;
		font-size: 0.625rem;
		overflow: hidden;
		transform: scale(1);

		&:before{
			content: "";
			position: absolute;
			left: 10px;
			top: 0;
			height: 25px;
			width: 25px;
			background: url("../i/sprites/category-sprite.png") no-repeat;
			background-position: 0 0;
		}
		&:hover{
			text-decoration: none;
			background: $danger;
			color: $white;
			cursor: pointer;
			outline: none;
			box-shadow: none;
			span{
				z-index: 100;
			}

			@include animation-scale;
			&:before{
				background-color: $danger ;
				background-position: 0 -25px;
				transform: scale(1);
			}
		}
	}
	&__link-2{
		&:before{ background-position: -25px -1px;}
		&:hover:before { background-position: -25px -25px;}
	}
	&__link-3 {
		&:before { background-position: -50px -3px; }
		&:hover:before { background-position: -50px -28px;}
	}
	&__link-4 {
		&:before { background-position: -75px -3px;}
		&:hover:before { background-position: -75px -28px;}
	}
	&__link-5 {
		&:before { background-position: -100px -3px;}
		&:hover:before { background-position: -100px -28px;}
	}
	&__link-6 {
		&:before { background-position: -125px -2px;}
		&:hover:before { background-position: -125px -27px;}
	}
	&__link-7 {
		&:before { background-position: -150px -3px;}
		&:hover:before { background-position: -150px -28px;}
	}
	&__link-8 {
		&:before { background-position: 0 -52px;}
		&:hover:before { background-position: 0 -78px;}
	}
	&__link-9 {
		&:before { background-position: -25px -52px;}
		&:hover:before { background-position: -25px -77px;}
	}
	&__link-10 {
		&:before { background-position: -50px -52px;}
		&:hover:before { background-position: -50px -77px;}
	}
	&__link-11 {
		&:before { background-position: -78px -52px;}
		&:hover:before { background-position: -78px -77px;}
	}
	&__link-12 {
		&:before { background-position: -100px -53px;}
		&:hover:before { background-position: -100px -78px;}
	}
	&__link-13 {
		&:before { background-position: -125px -50px;}
		&:hover:before { background-position: -125px -75px;}
	}
	&__link-14 {
		&:before { background-position: -150px -52px;}
		&:hover:before { background-position: -150px -77px;}
	}
	&__link-15 {
		&:before { background-position: 0 -103px;}
		&:hover:before { background-position: 0 -128px;}
	}
	&__link-16 {
		&:before { background-position: -25px -102px}
		&:hover:before { background-position: -25px -128px;}
	}
	&__link-17 {
		&:before { background-position: -50px -102px}
		&:hover:before { background-position: -50px -128px;}
	}
	&__link-18 {
		&:before { background-position: -75px -105px}
		&:hover:before { background-position: -75px -130px;}
	}
	&__link-19 {
		&:before { background-position: -100px -102px}
		&:hover:before { background-position: -100px -128px;}
	}
	&__link-20 {
		&:before { background-position: -125px -103px}
		&:hover:before { background-position: -125px -128px;}
	}
	&__link-21 {
		&:before { background-position: -150px -102px}
		&:hover:before { background-position: -150px -128px;}
	}
	&__link-22 {
		&:before { background-position: 0 -153px;}
		&:hover:before { background-position: 0 -178px;}
	}
	&__link-23 {
		&:before { background-position: -25px -153px;}
		&:hover:before { background-position: -25px -178px;}
	}
	&__link-24 {
		&:before { background-position: -50px -152px;}
		&:hover:before { background-position: -50px -178px;}
	}
	&__link-25 {
		&:before { background-position: -75px -152px;}
		&:hover:before { background-position: -75px -178px;}
	}
	&__link-26 {
		&:before { background-position: -100px -153px;}
		&:hover:before { background-position: -100px -178px;}
	}
	&__link-27 {
		&:before { background-position: -125px -153px;}
		&:hover:before { background-position: -125px -178px;}
	}
	&__link-28 {
		&:before { background-position: -150px -154px;}
		&:hover:before { background-position: -150px -178px;}
	}
	&__link-29 {
		&:before { background-position: 0 -201px;}
		&:hover:before { background-position: 0 -226px;}
	}
	&__link-30 {
		&:before { background-position: -25px -205px;}
		&:hover:before { background-position: -25px -230px;}
	}
	&__link-31 {
		&:before { background-position: -50px -202px;}
		&:hover:before { background-position: -50px -227px;}
	}
	&__link-32 {
		&:before { background-position: -75px -202px;}
		&:hover:before { background-position: -75px -227px;}
	}
	&__link-33 {
		&:before { background-position: -100px -203px;}
		&:hover:before { background-position: -100px -228px;}
	}
	&__link-34 {
		&:before { background-position: -125px -204px;}
		&:hover:before { background-position: -125px -229px;}
	}
	&__link-35 {
		&:before { background-position: -150px -201px;}
		&:hover:before { background-position: -150px -226px;}
	}
}