.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: $footer-min-height;
	background: $primary;
	color: white;
	&__copyright{
		text-align: center;
		opacity: .7;
	}
}