.form-control{
	height: 40px;
	width: 100%;
	border: $input-btn-border-width solid $input-border-color;
	box-shadow: $input-box-shadow;
}
.pretty{
	width: 100%;
	&:hover,
	&:focus,
	&:active{
		label{
			color: $primary;
		}
	}
}