form{
	display: flex;
	flex-direction: column;

}
.search-form{
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid #ccc;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5rem;
	input{
		border: none;
		padding: 0.75rem 0.625rem 0.625rem;
		font-size: 1.75rem;
		line-height: 2.125rem;
		display: flex;
		flex: 1;
		font-family: "Montserrat-bold", Helvetica, Arial, sans-serif;
		&:focus{
			outline: none;
		}
	}
	.fa-search{
		font-size: 24px;
	}
}