.header{
	display: flex;
	flex-direction: column;
	min-height: $header-min-height;
	@include media-breakpoint-down(xs){
		min-height: 45px;
	}
}
.navbar {
	display: flex;
	@include media-breakpoint-down(xs){
		padding: 0;
		.navbar-form .form-control{
			padding: 0 25px;
		}
		.navbar .btn-group{
			width: 40px;
		}
	}
	&-brand {
		display: flex;
		width: 150px;
		font-size: 1rem;
		color: $black;
		font-family: 'Montserrat-Bold';
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		flex: 1;
		&:hover{
			cursor: pointer;
			text-decoration: none;
		}
		@include media-breakpoint-down(sm){
			width: 100px;
			font-size: .8rem;
		}
		@include media-breakpoint-down(xs){
			width: 40px;
			font-size: .8rem;
			flex:  none;
		}
	}
	&-form {
		display: flex;
		width: 75%;
		flex-direction: row;
		position: relative;
		.form-control{
			border-radius: 1.5rem;
			text-align: center;
			padding: 0 50px;
			&:focus{
				outline: none;
				text-align: left;
				-moz-outline-radius: 1.5rem;
			}
		}
		.btn {
			padding: 0;
			position: absolute;
			right: 5px;
			top: 5px;
		}
		@include media-breakpoint-down(sm){
			width: 60%;

		}
		@include media-breakpoint-down(xs){
			width: 60%;
			margin-right: 5px;
		}
	}
	.btn-group {
		flex: 1;
		width: 150px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		button {
			border: none;
		}
		.fa{
			color: $danger;
			font-size: 2.25rem;
			padding: 0;
		}
		@include media-breakpoint-down(sm){
			width: 40px;
			.d-sm-none{
				display: none;
			}
		}
	}
}