.productSlider{
	position: relative;
	display: flex;
	width: 100%;
	overflow: hidden;
	@include box-shadow;
	&__list{
		width: 90%;
		height: 275px;
		margin: 0 auto;
	}
	&__btn{
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 5px 30px;
		text-align: right;
		text-transform: uppercase;
		font-weight: bold;
		.fa{
			padding-left: 15px;
		}
	}
	img{
		width: 100%;
		max-height: 280px;
		vertical-align: middle;
	}
	.slick-slide{
		transform: scale(0.7);
		border: 1px solid transparent;
		&:focus,
		&:active,
		&:hover{
			cursor: pointer;

		}
	}
	.slick-slide.slick-current{
		transform: scale(1);
		border: 1px solid $black;
	}
	.slick-next:before,
	.slick-prev:before{
		color: $gray ;
		font-family: 'FontAwesome';
	}
	.slick-prev{
		left: -50px;
		&:before{
			content: $fa-var-chevron-left;
		}
	}
	.slick-next{
		right: -50px;
		&:before{
			content: $fa-var-chevron-right;
		}
	}

}