
.products {
	display: flex;
	flex-direction: column;
	.card {
		margin-bottom: 0.625rem;
		border: 0;
		flex: auto;
		.card-body {
			padding: 0;
			&:hover{
				img{
					@include ava-shadow;
				}
				.card-title{
					color: $primary;
				}
			}
		}
		.card-title {
			text-align: center;
			font-size: 0.75rem;
			color: inherit;
			margin-bottom: 0;
		}
		.card-footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0;
			border: none;
			background: none;
		}
		.card-text {
			font-size: 0.5rem;
			margin-bottom: 0;
		}
	}


	&-price {
		font-size: 1rem;
		font-family: 'Montserrat-SemiBold';
		text-align: left;
	}

}

.products__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 10px;
	grid-auto-rows: minmax(120px, auto);
	grid-auto-flow: dense;
	padding: 10px;
}
.products__item {
	padding: 1rem;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}
.products__info {
	grid-area: 1 / 6 / 3 / 8;
	@include box-shadow;
}