.rel-keywords {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	&__title {
		text-align: left;
		text-transform: uppercase;
		font-size: 1.31rem;
		color: $black;
		width: 30%;
		margin-bottom: 0;
		@include media-breakpoint-down(md){
			width: 20%;
			text-transform: none;
			font-size: 1rem;
		}
		@include media-breakpoint-down(sm){
			font-size: 12px;
		}
	}
	&__list {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		border-radius: 2rem;
		padding: 0 1rem;
		align-items: center;
		a {
			color: $gray;
			//font-size: 1.125rem;
			@include media-breakpoint-down(sm){
				font-size: 12px;
			}
		}
		@include media-breakpoint-down(md){
			font-size: 12px;
			border: none;
			border-radius: 0;
			padding: 0;
		}
	}
}