.topFilters {
	display: flex;
	margin-bottom: 1rem;
	@include media-breakpoint-down(sm){
		margin-top: -1rem;
	}
	.card{
		border: 1px solid $gray;
		height: 100%;
		padding: 1.25rem;
		@include media-breakpoint-down(md){
			padding: 1rem;
		}
		@include media-breakpoint-down(sm){
			padding: .5rem;
			border: none;
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
			flex-wrap: wrap;

		}
		&-header{
			background: transparent;
			border-bottom: 1px solid $gray;
			padding: 0;
			margin-bottom: 1rem;
			@include media-breakpoint-down(md){
				font-size: .5rem;
			}
			@include media-breakpoint-down(sm){
				margin-bottom: 0;
				border: 0;
			}
		}
		&-title{
			font-size: 1.375rem;
			font-weight: bold;
			text-transform: uppercase;
			@include media-breakpoint-down(md){
				font-size: 1rem;
				margin-bottom: 0;
			}
		}
		&-body{
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			a{
				text-decoration: underline;
				font-size: .8rem;
			}
			@include media-breakpoint-down(sm){
				flex-direction: row;
				justify-content: flex-start;
				flex-wrap: wrap;
				a{
					margin-right: .4rem;
					margin-bottom: .4rem;
					text-decoration: none;
					border: 1px solid $gray;
					border-radius: 1rem;
					padding: .5rem;
					align-self: center;
				}
			}
		}
	}
}